/vendor/
/node_modules/
/config/config.php
/storage/installed.lock
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/mail/*
!/storage/mail/.gitkeep
/database/schema.lock
/database/*.sqlite
.phpunit.result.cache
.phpunit.cache/
.phpcs.cache
.idea/
.vscode/
*.log
release/*.zip
